* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 12pt;
  background-color: grey;
  --blauw-eurol: #233989;
  --rood-eurol: #ad2222;
  --blauw-reparatie: #0e277f;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
