* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 12pt;
  background-color: grey;
  --blauw-eurol: #233989;
  --rood-eurol: #ad2222;
  --blauw-reparatie: #0e277f;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.repair-card {
  background-color: #FAF9F6;
  color: var(--blauw-reparatie);
  display: grid;
  grid-template-areas:
    "logo slogan slogan . blurb blurb blurb"
    ".    holef   .     .  .     holeb .    "
    ".      .    code   . .       .   .    "
    "repf repf   repf   . repb  repb  repb "
    "footf footf footf  . footb footb footb"
  ;
  grid-template-columns: repeat(3, 1fr) 10px repeat(3, 1fr);
  grid-template-rows: 8, 3% 8, 3% 8, 3% 1fr 25%;

  >* {
    margin: 10px 20px;
  }

  fc-footer.front {
    grid-area: footf;
  }

  fc-footer.back {
    grid-area: footb;
  }

  main.front {
    grid-area: repf;
  }

  main.back {
    grid-area: repb;
  }

  .blurb {
    grid-area: blurb;
  }

  .logo {
    grid-area: logo;
  }

  .slogan {
    grid-area: slogan;
  }

  .code {
    grid-area: code;
    font-family: monospace;
    font-size: 2rem;
  }

  .hole.front {
    grid-area: holef;
  }

  .hole.back {
    grid-area: holeb;
  }

  .hole {

    height: 100px;
    width: 100px;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
    margin: 0 auto;

  }

  h2 {
    margin-bottom: 5px;
    color: var(--blauw-eurol);
    font-variant: small-caps;
    border-bottom: 2px solid #864058;
  }

  h3,
  p {
    color: var(--rood-eurol);
    font-style: italic;
    font-weight: bold;
    margin: auto;
  }

  .blurb p {
    color: var(--blauw-eurol)
  }

  h3 {
    margin-top: 5px;
  }


  h2 {
    font-variant: small-caps;
    text-align: center;
  }

  form {
    margin: 1rem;

    >div {
      display: flex;
      flex-direction: row;
    }
  }

  input[type=text],
  textarea {
    flex: 1;
    border: none;
    background: transparent;
    border-bottom: 2px dotted var(--blauw-reparatie);
  }

  tr {
    /* ???!!!???!! */
    border-bottom: 2px dotted var(--blauw-reparatie);
    ;
  }

  .code {
    text-align: right;
    margin-right: 45px;

  }

}

@media (max-width: 800px) {
  .repair-card {
    grid-template-areas:
      "logo slogan slogan"
      ".    holef   .    "
      ".      .    code  "
      "repf repf   repf  "
      "footf footf footf "
      "blurb blurb blurb"
      " .     holeb .    "
      ".       .   .    "
      "repb  repb  repb "
      "footb footb footb"
    ;
  }

  ;
}