* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 12pt;
  background-color: grey;
  --blauw-eurol: #233989;
  --rood-eurol: #ad2222;
  --blauw-reparatie: #0e277f;
}

body {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;  
}


.repair-card {
  background-color: #FAF9F6;
  display: flex;
  flex-direction: row;
  align-items: stretch;

  .front {
    margin: 10px 30px;
    width: 50%;
  }

  >div {    
    flex-grow: 1;
  }

  .back {
    margin: 10px 30px;
    width: 50%;

    header {
      grid-template-areas: 
      "logo logo logo"
      ".    hole   .     "
      ".    hole   .";
    }
  }

  .code {
    grid-area: code;
    font-family: monospace;
    font-size: 2rem;
  }

  header {
    text-align: center;
    h2 {
      margin-bottom: 5px;
      color: var(--blauw-eurol);
      font-variant: small-caps;
      border-bottom: 2px solid #864058;
    }

    h3,
    p {
      color: var(--rood-eurol);
      font-style: italic;
      font-weight: bold;
      margin: auto;
    }

    h3 {
      margin-top: 5px;
    }

    display: grid;
    grid-template-areas: 
    "logo slogan slogan"
    ".    hole   .     "
    ".    hole   code";

    .logo {
      grid-area: logo;
    }

    .slogan {
      grid-area: slogan;
    }

    .hole {
      grid-area: hole;
      height: 100px;
      width: 100px;
      background-color: #444;
      border-radius: 50%;
      display: inline-block;
      margin: 0 auto;
    }    
  }

  main {
    color: var(--blauw-reparatie);

    h2 {
      font-variant: small-caps;
      text-align: center;
    }

    form {
      margin: 1rem;

      >div {
        display: flex;
        flex-direction: row;
      }
    }

    input[type=text],
    textarea {
      flex: 1;
      border: none;
      background: transparent;
      border-bottom: 2px dotted var(--blauw-reparatie);
    }
    
    tr {
      /* ???!!!???!! */
      border-bottom: 2px dotted var(--blauw-reparatie);;
    }
  }

  footer {
    h2 {
      color: var(--rood-eurol);
      font-size: 2.5rem;
      text-align: center;
      border-bottom: 2px solid var(--blauw-eurol);
      margin-bottom: 2px;
    }
    h3 {
      margin-top: 2px;
      color: var(--blauw-eurol);
      text-align: center;
    }

    .code {
      text-align: right;
      margin-right: 45px;
    }
  }
}

@media (max-width: 800px) {
  .repair-card {
    flex-direction: column;
    .front {
      width: 100%;
    }
    .back {
      width: 100%;
    }
  }
}